# MongoDB URL
DBURL=your-mongodb_url

# NodeMailer
HOST_EMAIL=your_host_email
PASSWORD=your_app_password
PORT=587

# Stripe
STRIPE_SECRET_KEY=your_stripe_secret_key

# Backend server after deployment
DOMAIN=your_domain

# JWT Secret for encryption
SECRET=your_secret_key

# Notification
WHATSAPP=your_whatsapp_api_token

 
